<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Demo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-icon style="font-size: 120px;" name="person-circle"></ion-icon>
    </ion-row>
    <ion-list>
      <ion-item lines="full">
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle (ionChange)="toggleDarkMode($event)" [checked]="darkModeEnabled" color="dark"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>